* { box-sizing: border-box; padding: 0; margin: 0; }

body { background: #4ba3eb; color: white; }

body h1 { margin-bottom: 50px; }

body main { padding: 60px; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: space-evenly; justify-content: space-evenly; -ms-flex-line-pack: center; align-content: center; -ms-grid-column-align: space; justify-items: space; -ms-flex-align: center; align-items: center; min-height: 100vh; text-align: center; }

body #search, body input { color: white; display: block; width: 400px; height: 40px; line-height: 40px; background: #4ba3eb; border: 1px solid white; margin-bottom: 30px; text-decoration: none; font-size: 16px; cursor: pointer; text-align: center; }

#countries { list-style: none; }

#countries img { width: 50px; height: auto; padding-right: 15px; }

#countries li { padding-bottom: 15px; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; }

#countries span { padding: 0 30px; }
