* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #4ba3eb;

  color: white;

  h1 {
    margin-bottom: 50px;
  }

  main {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    justify-items: space;
    align-items: center;
    min-height: 100vh;
    text-align: center;
  }

  #search,
  input {
    color: white;
    display: block;
    width: 400px;
    height: 40px;
    line-height: 40px;
    background: #4ba3eb;
    border: 1px solid white;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
}

#countries {
  list-style: none;

  img {
    width: 50px;
    height: auto;
    padding-right: 15px;
  }

  li {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  span {
    padding: 0 30px;
  }
}
